In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# create data set of employees
data = {
	'Name': ['Alice', 'Bob', 'Charlie'],
	'Age': [25, 30, 35],
	'Department': ['HR', 'Engineering', 'Marketing']
}

In [3]:
# create the dataset of deaprtments
departments = pd.DataFrame(data)

In [4]:
# create dataset of the managers
managers = pd.DataFrame({
    'Department': ['HR', 'Engineering', 'Marketing'],
    'Manager': ['Charlie', 'Alice', 'Bob']
})

In [5]:
# creating the dataet of office_location
office_location = pd.DataFrame({
    'Department': ['HR', 'Engineering', 'Marketing'],
    'Office': ['London', 'San Francisco', 'Los Angeles']
})

In [6]:
merged_data = pd.merge(departments, managers, on='Department')
merged_data = pd.merge(merged_data, office_location, on='Department')

In [7]:
merged_data.head()

      Name  Age   Department  Manager         Office
0    Alice   25           HR  Charlie         London
1      Bob   30  Engineering    Alice  San Francisco
2  Charlie   35    Marketing      Bob    Los Angeles

In [ ]:
data =